[Desktop Entry]
Type=Application
Name=Galaxy Flasher
Comment=A GUI for Samsung flash-tools.
Icon=page.codeberg.ethicalhaquer.galaxyflasher
Exec=entry
Categories=Utility;GNOME
